body {
  background-color: #E3F7FC;
  color: #FF6192;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

canvas {
/*  background: transparent;*/
  background-color: #403337;
  background: url("../images/space_bg.jpg") repeat;
  border: 3px solid #599FB2;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
}
